.student {
  width: 700px;
  margin: 0 auto;
  display: block;
  margin-top: 30px;
  margin-bottom: 10px;
}
.left {
  width: 60%;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}
.right {
  width: 40%;
  display: inline-block;
  vertical-align: middle;
  text-align: right;
}
h2.studentName {
  margin: 0px;
  padding: 0px;
}
p.uniName {
  padding: 0px;
  margin: 0px;
}
.score {
  color: green;
  font-size: 30px;
  font-weight: bold;
}
button.addScorebtn {
  border: none;
  background: green;
  color: white;
  border-radius: 100px;
  width: 20px;
  height: 20px;
  line-height: 16px;
  text-align: center;
  position: relative;
  top: -3px;
  left: 7px;
  cursor: pointer;
}
button.minScorebtn {
  border: none;
  background: red;
  color: white;
  border-radius: 100px;
  width: 20px;
  height: 20px;
  line-height: 16px;
  text-align: center;
  position: relative;
  top: -3px;
  left: 7px;
  cursor: pointer;
}

.failure {
  background: red;
  color: white;
  line-height: 17px;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
  padding: 1px 5px;
  border-radius: 3px;
  vertical-align: middle;
  margin-left: 3px;
}
.success {
  background: green;
  color: white;
  line-height: 17px;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
  padding: 1px 5px;
  border-radius: 3px;
  vertical-align: middle;
  margin-left: 3px;
}
